<doctype html>
    <title>Add User - Python Flask MySQL CRUD</title>
    <h2>Add User</h2>
    <form method="post" action="/add">
        <dl>
            <p>
                <input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
            </p>
            <p>
                <input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
            </p>
            <p>
                <input name="inputDepartment" value="" type="text" placeholder="Department" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>