<doctype html>
    <title>List of users - Python Flask MySQL CRUD</title>
    
    <p><a href="{{ url_for('.add_user_view') }}"> Add User </a></p>
    
    <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </p>
    
    {{ table }}